---
import cv from '@cv';

const {
  basics: { siteName },
} = cv;

const year = new Date().getFullYear();
---

<footer
  class='smallLandscapeScreen:hidden mt-auto justify-center pb-4 pt-20 text-center align-top opacity-50'
>
  <div class='me-0 sm:me-4'>
    &copy;{year}
    {siteName}
  </div>
</footer>
