---
import Hero from '@/components/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import cv from '@cv';

const {
  basics: { siteName, name, label, siteOgLogo },
} = cv;
---

<Layout title={name} site={siteName} description={label} image={siteOgLogo}>
  <section
    class='min-h-[75vh] place-content-center place-items-center px-5 animate-fade'
  >
    <Hero />
  </section>
</Layout>
