---
import { Icon } from 'astro-icon/components';
---

<header class='text-end p-5'>
  <button type='button' id='theme-selector'>
    <span class='hidden dark:inline'><Icon name='sun' size={24} /></span>
    <span class='dark:hidden'><Icon name='moon' size={24} /></span>
  </button>
</header>

<script>
  document.getElementById('theme-selector')?.addEventListener('click', () => {
    localStorage.theme = localStorage.theme === 'dark' ? 'light' : 'dark';
    document.documentElement.classList.toggle('dark');
  });
</script>
